<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<!--基于@AspectJ切面的驱动器，如果没有这句话 切面的代码是不会执行的，可以试下 -->
	<!-- <aop:aspectj-autoproxy/> -->


	<!-- 为了测试添加 的一个日期类 -->
	<!-- <bean id="date" class="java.util.Date" /> -->


	<!--这个bean是作为切面 -->
	<!-- <bean id="logAspect" class="com.fms.log.LogAspect"/> -->


	<!-- 加载外部的properties配置文件 -->
	<context:property-placeholder location="classpath:jdbc.properties" />

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="configLocation" value="classpath:hibernate.cfg.xml" />
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<!-- 基本信息 -->
		<property name="jdbcUrl" value="${jdbcUrl}"></property>
		<property name="driverClass" value="${driverClass}"></property>
		<property name="user" value="${username}"></property>
		<property name="password" value="${password}"></property>



		<!-- 其他配置 -->
		<!--初始化时获取三个连接，取值应在minPoolSize与maxPoolSize之间。Default: 3 -->
		<property name="initialPoolSize" value="3"></property>
		<!--连接池中保留的最小连接数。Default: 3 -->
		<property name="minPoolSize" value="3"></property>
		<!--连接池中保留的最大连接数。Default: 15 -->
		<property name="maxPoolSize" value="5"></property>
		<!--当连接池中的连接耗尽的时候c3p0一次同时获取的连接数。Default: 3 -->
		<property name="acquireIncrement" value="3"></property>
		<!-- 控制数据源内加载的PreparedStatements数量。如果maxStatements与maxStatementsPerConnection均为0，则缓存被关闭。Default: 
			0 -->
		<property name="maxStatements" value="8"></property>
		<!-- maxStatementsPerConnection定义了连接池内单个连接所拥有的最大缓存statements数。Default: 
			0 -->
		<property name="maxStatementsPerConnection" value="5"></property>
		<!--最大空闲时间,3600秒(1小时)内未使用则连接被丢弃。若为0则永不丢弃。Default: 0 -->
		<property name="maxIdleTime" value="0"></property>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<aop:config>
		<aop:pointcut expression="execution(* com.fms.logic.*.*(..))"
			id="cutlocation" />

		<aop:advisor advice-ref="advice" pointcut-ref="cutlocation" />
		<!--日志切面 -->
		<!-- <aop:aspect id="dd" ref="logAspect"> -->
		<!-- <aop:after-returning method="logArgAndReturn" returning="returnObj" 
			pointcut-ref="cutlocation"/> <aop:before method="logArgAndReturn2" pointcut-ref="cutlocation" 
			/> <aop:before pointcut-ref="cutlocation" method="logArgAndReturn2"/> <aop:after 
			pointcut-ref="cutlocation" method="logArgAndReturn" /> </aop:aspect> -->
	</aop:config>

	<!-- 设置具体的切入点 -->
	<tx:advice id="advice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="save*" propagation="REQUIRED" />
			<tx:method name="delete*" propagation="REQUIRED" />
			<tx:method name="del*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="*" propagation="SUPPORTS" />
		</tx:attributes>
	</tx:advice>


	<!-- =======================Dao类========================== -->

	<!-- AclUser -->
	<bean id="userDao" class="com.fms.dao.impl.AclUserDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<!-- ParameterSet -->
	<bean id="paramsDao" class="com.fms.dao.impl.ParamsDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<!-- Scmcoc -->

	<bean id="scmcocDao" class="com.fms.dao.impl.ScmcocDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>


	<!-- Department -->

	<bean id="deptDao" class="com.fms.dao.impl.DeptDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<!-- Stock -->
	<bean id="stockDao" class="com.fms.dao.impl.StockDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<!-- Settlement -->
	<bean id="settlementDao" class="com.fms.dao.impl.SettlementDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="currenciesDao" class="com.fms.dao.impl.CurrenciesDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<bean id="employeeDao" class="com.fms.dao.impl.EmployeeDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<bean id="unitDao" class="com.fms.dao.impl.UnitDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<bean id="dao" class="com.fms.dao.impl.MaterialTypeDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<bean id="materialDao" class="com.fms.dao.impl.MaterialDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<!-- Bom表 -->
	<bean id="bomDao" class="com.fms.dao.impl.BomDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<!-- 订单 -->
	<bean id="orderDao" class="com.fms.dao.impl.OrderDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<!-- 进出库 -->
	<bean id="storageDao" class="com.fms.dao.impl.StorageDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<!-- 报价单 -->
	<bean id="quotationDao" class="com.fms.dao.impl.QuotationDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<!-- 申请单表头表体 -->
	<bean id="appBillDao" class="com.fms.dao.impl.AppBillDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<!-- 采购单 -->
	<bean id="purchaseBillDao" class="com.fms.dao.impl.PurchaseBillDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>


	<!-- 日志 -->
	<bean id="operaterLogsDao" class="com.fms.dao.impl.OperateLogsDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>




	<!-- 系统启动时，自动加载用户的监听 -->
	<bean id="createUserListener" class="com.fms.listener.CreateUserListener">
		<property name="userDao">
			<ref bean="userDao" />
		</property>
	</bean>




	<!-- ======================Logic类=========================== -->

	<!-- AclUser -->
	<bean id="userLogic" class="com.fms.logic.impl.AclUserLogicImpl">
		<property name="userDao">
			<ref bean="userDao" />
		</property>
	</bean>

	<!-- ParameterSet -->
	<bean id="paramsLogic" class="com.fms.logic.impl.ParamsLogicImpl">
		<property name="paramsDao">
			<ref bean="paramsDao" />
		</property>
	</bean>


	<!-- Scmcoc -->
	<bean id="scmcocLogic" class="com.fms.logic.impl.ScmcocLogicImpl">
		<property name="scmcocDao">
			<ref bean="scmcocDao" />
		</property>
		<property name="settlementDao">
			<ref bean="settlementDao" />
		</property>
	</bean>


	<!-- Department -->

	<bean id="deptLogic" class="com.fms.logic.impl.DeptLogicImpl">
		<property name="deptDao">
			<ref bean="deptDao" />
		</property>
	</bean>

	<!-- Stock -->

	<bean id="stockLogic" class="com.fms.logic.impl.StockLogicImpl">
		<property name="stockDao">
			<ref bean="stockDao" />
		</property>
	</bean>


	<!-- Settlement -->

	<bean id="settlementLogic" class="com.fms.logic.impl.SettlementLogicImpl">
		<property name="settlementDao">
			<ref bean="settlementDao" />
		</property>
	</bean>
	<!-- Currencies -->
	<bean id="currenciesLogic" class="com.fms.logic.impl.CurrenciesLogicImpl">
		<property name="currenciesDao">
			<ref bean="currenciesDao" />
		</property>
	</bean>

	<bean id="employeeLogic" class="com.fms.logic.impl.EmployeeLogicImpl">
		<property name="employeeDao">
			<ref bean="employeeDao" />
		</property>
		<property name="userDao">
			<ref bean="userDao" />
		</property>
		<property name="operaterLogsDao">
			<ref bean="operaterLogsDao" />
		</property>
	</bean>

	<bean id="unitLogic" class="com.fms.logic.impl.UnitLogicImpl">
		<property name="unitDao">
			<ref bean="unitDao" />
		</property>
	</bean>

	<bean id="logic" class="com.fms.logic.impl.MaterialTypeLogicImpl">
		<property name="dao">
			<ref bean="dao" />
		</property>
	</bean>

	<bean id="materLogic" class="com.fms.logic.impl.MaterialLogicImpl">
		<property name="materialDao">
			<ref bean="materialDao" />
		</property>
		<property name="dao">
			<ref bean="dao" />
		</property>
	</bean>

	<!-- Bom表 -->
	<bean id="bomLogic" class="com.fms.logic.impl.BomLogicImpl">
		<property name="bomDao">
			<ref bean="bomDao" />
		</property>
		<property name="materialDao">
			<ref bean="materialDao" />
		</property>
	</bean>

	<!-- 订单 -->
	<bean id="orderLogic" class="com.fms.logic.impl.OrderLogicImpl">
		<property name="orderDao">
			<ref bean="orderDao" />
		</property>
		<property name="scmcocDao">
			<ref bean="scmcocDao" />
		</property>
		<property name="materialDao">
			<ref bean="materialDao" />
		</property>
		<property name="employeeDao">
			<ref bean="employeeDao" />
		</property>
	</bean>

	<!-- 进出库 -->
	<bean id="storageLogic" class="com.fms.logic.impl.StorageLogicImpl">
		<property name="storageDao">
			<ref bean="storageDao" />
		</property>
	</bean>

	<!-- 报价单 -->
	<bean id="quotationLogic" class="com.fms.logic.impl.QuotationLogicImpl">
		<property name="quotationDao">
			<ref bean="quotationDao" />
		</property>
		<property name="appBillDao">
			<ref bean="appBillDao" />
		</property>
		<property name="purchaseBillDao">
			<ref bean="purchaseBillDao" />
		</property>
		<property name="materLogic">
			<ref bean="materLogic" />
		</property>
		<property name="scmcocLogic">
			<ref bean="scmcocLogic" />
		</property>
	</bean>

	<!-- 申请单表头表体 -->
	<bean id="appBillLogic" class="com.fms.logic.impl.AppBillLogicImpl">
		<property name="appBillDao">
			<ref bean="appBillDao" />
		</property>
		<property name="purchaseBillDao">
			<ref bean="purchaseBillDao" />
		</property>
	</bean>

	<!-- 采购单 -->
	<bean id="purchaseBillLogic" class="com.fms.logic.impl.PurchaseBillLogicImpl">
		<property name="purchaseBillDao">
			<ref bean="purchaseBillDao" />
		</property>
	</bean>
<!-- 采购单 -->
	<bean id="loglogic" class="com.fms.logic.impl.OperateLogsLogicImpl">
		<property name="logDao">
			<ref bean="operaterLogsDao" />
		</property>
	</bean>







	<!-- ======================Action类=========================== -->

	<!-- AclUser -->
	<bean id="aclUserAction" class="com.fms.action.AclUserAction"
		scope="prototype">
		<property name="userLogic">
			<ref bean="userLogic" />
		</property>
	</bean>

	<!-- ParameterSet -->

	<bean id="paramsAction" class="com.fms.action.ParamsAction" scope="prototype">
		<property name="paramsLogic">
			<ref bean="paramsLogic" />
		</property>
	</bean>

	<!-- Scmcoc -->
	<bean id="scmcocAction" class="com.fms.action.ScmcocAction" scope="prototype">
		<property name="scmcocLogic">
			<ref bean="scmcocLogic" />
		</property>
		<property name="settlementLogic">
			<ref bean="settlementLogic" />
		</property>
	</bean>

	<!-- Department -->
	<bean id="deptAction" class="com.fms.action.DeptAction" scope="prototype">
		<property name="deptLogic">
			<ref bean="deptLogic" />
		</property>
	</bean>

	<!-- Stock -->
	<bean id="stockAction" class="com.fms.action.StockAction" scope="prototype">
		<property name="stockLogic">
			<ref bean="stockLogic" />
		</property>
	</bean>

	<!-- Settlement -->
	<bean id="settlementAction" class="com.fms.action.SettlementAction"
		scope="prototype">
		<property name="settlementLogic">
			<ref bean="settlementLogic" />
		</property>
	</bean>

	<!-- Currencies -->
	<bean id="currenciesAction" class="com.fms.action.CurrenciesAction"
		scope="prototype">
		<property name="currenciesLogic">
			<ref bean="currenciesLogic" />
		</property>
	</bean>


	<!-- Unit -->
	<bean id="unitAction" class="com.fms.action.UnitAction" scope="prototype">
		<property name="unitLogic">
			<ref bean="unitLogic" />
		</property>
	</bean>

	<!-- Employee -->
	<bean id="employeeAction" class="com.fms.action.EmployeeAction"
		scope="prototype">
		<property name="deptLogic">
			<ref bean="deptLogic" />
		</property>
		<property name="emplLogic">
			<ref bean="employeeLogic" />
		</property>
		<property name="acluserLogic">
			<ref bean="userLogic" />
		</property>
	</bean>

	<!-- 物料类别 -->
	<bean id="materialTypeAction" class="com.fms.action.MaterialTypeAction"
		scope="prototype">
		<property name="logic">
			<ref bean="logic" />
		</property>
	</bean>
	<!-- 物料信息 -->
	<bean id="materialAction" class="com.fms.action.MaterialAction"
		scope="prototype">
		<property name="materLogic">
			<ref bean="materLogic" />
		</property>
		<property name="logic">
			<ref bean="logic" />
		</property>
	</bean>

	<bean id="bomAction" class="com.fms.action.BomAction" scope="prototype">
		<property name="bomLogic">
			<ref bean="bomLogic" />
		</property>
		<property name="materLogic">
			<ref bean="materLogic" />
		</property>
	</bean>
	
	<!-- 订单 -->
	<bean id="orderAction" class="com.fms.action.OrderAction" scope="prototype">
		<property name="orderLogic">
			<ref bean="orderLogic" />
		</property>
		<property name="scmcocLogic">
			<ref bean="scmcocLogic" />
		</property>
		<property name="materialLogic">
			<ref bean="materLogic" />
		</property>
		<property name="emplLogic">
			<ref bean="employeeLogic" />
		</property>
	</bean>
	
	<!-- 进出库 -->
	<bean id="storageAction" class="com.fms.action.StorageAction" scope="prototype">
		<property name="storageLogic">
			<ref bean="storageLogic" />
		</property>
		<property name="logic">
			<ref bean="logic" />
		</property>
		<property name="unitLogic">
			<ref bean="unitLogic" />
		</property>
		<property name="scmcocLogic">
			<ref bean="scmcocLogic" />
		</property>
		<property name="stockLogic">
			<ref bean="stockLogic" />
		</property>
	</bean>

	<!-- 报价单 -->
	<bean id="quotationAction" class="com.fms.action.QuotationAction"
		scope="prototype">
		<property name="quotationLogic">
			<ref bean="quotationLogic" />
		</property>
		<property name="materLogic">
			<ref bean="materLogic" />
		</property>
		<property name="scmcocLogic">
			<ref bean="scmcocLogic" />
		</property>
	</bean>

	<!-- 申请单表头表体 -->
	<bean id="appBillAction" class="com.fms.action.AppBillAction"
		scope="prototype">
		<property name="appBillLogic">
			<ref bean="appBillLogic" />
		</property>
		<property name="materLogic">
			<ref bean="materLogic" />
		</property>
		<property name="scmLogic">
			<ref bean="scmcocLogic" />
		</property>
		<property name="quotationLogic">
			<ref bean="quotationLogic" />
		</property>
		<property name="purchaseBillLogic">
			<ref bean="purchaseBillLogic" />
		</property>
		<property name="orderLogic">
			<ref bean="orderLogic" />
		</property>
	</bean>

	<!-- 采购单 -->
	<bean id="purchaseAction" class="com.fms.action.PurchaseAction"
		scope="prototype">
		<property name="purchaseBillLogic">
			<ref bean="purchaseBillLogic" />
		</property>
	</bean>

	<!-- 日志 -->
	<bean id="logsAction" class="com.fms.action.LogAction"
		scope="prototype">
		<property name="operLogic">
			<ref bean="loglogic" />
		</property>
	</bean>





	<!-- 上传 -->
	<bean id="uploadUtils" class="com.fms.utils.MyUploadUtils"></bean>
	<!-- 下载 -->
	<bean name="fileDownload" class="com.fms.utils.FileDownLoad"
		scope="prototype" />
</beans>